# Day 8

# List in Python

# Creating A List

In [2]:
mylist = ["apple","banana","cherry"]
print(mylist)
print(type(mylist))

['apple', 'banana', 'cherry']
<class 'list'>

# Allow Duplicates

In [14]:
mylist = ["apple","banana","apple","cherry","banana","apple"]
print(mylist)

['apple', 'banana', 'apple', 'cherry', 'banana', 'apple']

# Data Type

In [15]:
list1 = ["apple","banana","cherry"]
list2 = [2,5,8]
list3 = [7.8,8.9,2.5]
list4 = [True,False,True]
print(list1)
print(list2)
print(list3)
print(list4)

['apple', 'banana', 'cherry']
[2, 5, 8]
[7.8, 8.9, 2.5]
[True, False, True]

In [16]:
a = [12,-8,5,-7,2.3,2.5,3.6,"students","hello",True,False]
print(a)

[12, -8, 5, -7, 2.3, 2.5, 3.6, 'students', 'hello', True, False]

# List Length

In [17]:
a = [12,-8,5,-7,2.3,2.5,3.6,"students","hello",True,False]
print(len(a))

11

In [18]:
b = [15,8,9,3,4,6,7,8,9,25]
print(len(b))

10

# Access Items

In [19]:
thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[1])

15

In [20]:
thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[7])

142

In [21]:
#Reverse
thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[-6])

96

# Slicing of List

In [22]:
thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[0:6])

[12, 15, 26, 78, 14, 25]

In [23]:
thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[3:9])

[78, 14, 25, 96, 142, 52]

In [24]:
thislist = [12,15,26,78,14,25,96,142,52,22,6,5]
print(thislist[0:12:2])

[12, 26, 14, 96, 52, 6]

# Change Items

In [26]:
thislist = ["apple","banana","cherry"]
thislist[1] = "Strawberry"
print(thislist)

['apple', 'Strawberry', 'cherry']

In [28]:
a = [12,14,15,16,8,-9,5,-3,41,-9]
a[2] = "students"
print(a)

[12, 14, 'students', 16, 8, -9, 5, -3, 41, -9]

# Change A Range of Item Values

In [29]:
a = [12,14,15,16,8,-9,5,-3,41,-9]
a[2:4] = ["books","pen","paper"]
print(a)

[12, 14, 'books', 'pen', 'paper', 8, -9, 5, -3, 41, -9]

In [30]:
a = [12,14,15,78,96,25]
a.append(-9)
print(a)

[12, 14, 15, 78, 96, 25, -9]

In [33]:
m = ["apple","student","hello"]
m.remove("student")
print(m)

['apple', 'hello']

In [34]:
t = ["table","chair","sofa"]
t.remove("chair")
print(t)

['table', 'sofa']

In [36]:
mylist = [1,2,3,4,5,"python","data"]
mylist.reverse()
print(mylist)

['data', 'python', 5, 4, 3, 2, 1]

In [43]:
l = [14,15,12,78,-9,23,-8,52,74,89,25,102,8]
print(len(l))
a = 0
for i in range(13):
    a = a+l[i]
    i = i+1
print("the sum of a list is", a)

13
the sum of a list is 475

# multiply all the numbers of a list

In [48]:
a = [1,2,3,4,5,6,7,8,9,10]
result = 1
for number in a:
    result *= number
print(result)

3628800